ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CODE_SIGN_ENTITLEMENTS=VideoHelper/VideoHelper.entitlements
CODE_SIGN_STYLE=Automatic
CURRENT_PROJECT_VERSION=1
DEVELOPMENT_TEAM=9PULX5QX5Y
ENABLE_APP_SANDBOX=YES
ENABLE_PREVIEWS=YES
GENERATE_INFOPLIST_FILE=YES
INFOPLIST_KEY_UIApplicationSceneManifest_Generation[sdk=iphoneos*]=YES
INFOPLIST_KEY_UIApplicationSceneManifest_Generation[sdk=iphonesimulator*]=YES
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents[sdk=iphoneos*]=YES
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents[sdk=iphonesimulator*]=YES
INFOPLIST_KEY_UILaunchScreen_Generation[sdk=iphoneos*]=YES
INFOPLIST_KEY_UILaunchScreen_Generation[sdk=iphonesimulator*]=YES
INFOPLIST_KEY_UIStatusBarStyle[sdk=iphoneos*]=UIStatusBarStyleDefault
INFOPLIST_KEY_UIStatusBarStyle[sdk=iphonesimulator*]=UIStatusBarStyleDefault
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad=UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone=UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
IPHONEOS_DEPLOYMENT_TARGET=17.0
LD_RUNPATH_SEARCH_PATHS=@executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*]=@executable_path/../Frameworks
MACOSX_DEPLOYMENT_TARGET=14.0
MARKETING_VERSION=1.0
PRODUCT_BUNDLE_IDENTIFIER=dev.androidbroadcast.VideoHelper
PRODUCT_NAME=$(TARGET_NAME)
REGISTER_APP_GROUPS=YES
SDKROOT=auto
STRING_CATALOG_GENERATE_SYMBOLS=YES
SUPPORTED_PLATFORMS=iphoneos iphonesimulator macosx xros xrsimulator
SWIFT_APPROACHABLE_CONCURRENCY=YES
SWIFT_DEFAULT_ACTOR_ISOLATION=MainActor
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_VERSION=6.0
TARGETED_DEVICE_FAMILY=1,2,7
XROS_DEPLOYMENT_TARGET=26.2

ENABLE_FILE_ACCESS_DOWNLOADS_FOLDER[config=Debug]=readwrite
ENABLE_FILE_ACCESS_MOVIES_FOLDER[config=Debug]=readwrite
ENABLE_FILE_ACCESS_MUSIC_FOLDER[config=Debug]=readwrite
ENABLE_FILE_ACCESS_PICTURE_FOLDER[config=Debug]=readwrite
ENABLE_INCOMING_NETWORK_CONNECTIONS[config=Debug]=NO
ENABLE_OUTGOING_NETWORK_CONNECTIONS[config=Debug]=NO
ENABLE_RESOURCE_ACCESS_AUDIO_INPUT[config=Debug]=NO
ENABLE_RESOURCE_ACCESS_BLUETOOTH[config=Debug]=NO
ENABLE_RESOURCE_ACCESS_CALENDARS[config=Debug]=NO
ENABLE_RESOURCE_ACCESS_CAMERA[config=Debug]=NO
ENABLE_RESOURCE_ACCESS_CONTACTS[config=Debug]=NO
ENABLE_RESOURCE_ACCESS_LOCATION[config=Debug]=NO
ENABLE_RESOURCE_ACCESS_PRINTING[config=Debug]=NO
ENABLE_RESOURCE_ACCESS_USB[config=Debug]=NO
ENABLE_USER_SELECTED_FILES[config=Debug]=readwrite
ENABLE_USER_SELECTED_FILES[config=Release]=readonly
