name: Lint

on:
  pull_request:
    branches: [ main, develop ]

jobs:
  swiftlint:
    name: SwiftLint
    runs-on: macos-15

    steps:
    - name: Checkout code
      run: |
        git clone --depth=1 --branch=${{ github.head_ref || github.ref_name }} https://github.com/${{ github.repository }}.git .
        git checkout ${{ github.sha }}

    - name: Install SwiftLint
      run: brew install swiftlint

    - name: Run SwiftLint
      run: swiftlint lint --reporter github-actions-logging
